AppOpener
beautifulsoup4
fastapi
keyboard
ollama
openpyxl==3.1.5
pygame
pyperclip
PyAutoGUI
python-pptx
pywhatkit
PyQt5
python-docx
requests
SpeechRecognition
spacy
uvicorn

# Optional acceleration/features
faster-whisper
torch
rvc-python
pywin32
live2d-py
